.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 95%;
  margin: auto;
}

section {
  font-size: 4.3vw;
  border-radius: .5em;
  box-shadow: 0.2em 0.2em 0.3em #00000065;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1em;
  height: 100vh;
  background: var(--background-color);
  scroll-margin-top: 10vh;
}

.section-title {
  font-size: .85em;
  display: flex;
  align-items: center;
  gap: .5em;
  width: 100%;
}

.section-title > div.bullet {
  width: .6em;
  height: .6em;
  border-radius: 50%;
  background: var(--grey-color);
}
.intro-body .greetings{
  font-size: 1.5em;
  font-family: "poppins-medium";
  width: 100%;
  margin: 0.5em 0;
}
@media (orientation: landscape) {
  section {
    border-radius: 1em;
    font-size: calc((1vw + 1vh) * 0.8);
    scroll-margin-top: 3vh;
  }
}
