:root {
  --grey-color: rgb(181, 181, 181);
  --background-color: rgb(255, 255, 255);
  --accent-color: rgb(113, 198, 255);
  --dark-accent: rgb(35, 83, 116);
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  -ms-touch-action: none;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-family: "poppins-regular";
  background: #e9e9e9;
}
html {
  scroll-behavior: smooth;
}
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
@media (orientation: landscape) {
  .app-body {
    display: flex;
    padding: 2vh 10vw;
    gap: 2.5vh;
  }
}
/* HOME */
